* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: grey;
    margin-bottom: 2rem;
    padding: 3rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
}

header h1 {
    margin-bottom: 0.5rem;
}

header img {
    max-width: 150px;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 2rem;
}

article ul {
  width: 100%;
  height: 500px;
  max-height: 500px;
  overflow-y: auto;
}

h2 {
    margin-bottom: 2rem;
    text-align: center;
}

.members {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 878px) {
    .members {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 450px) {
    .members {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

.members .member img {
    max-height: 300px;
    margin-bottom: 1rem;
    max-width: 100%;
}

.members .member .button {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-top: 1rem;
}